<div class="row">
  <div class="col-xs-12 text-right">
    {{#if showing}}
      <button {{action "hide"}} class="btn btn-danger">{{i18n 'movie.cancel'}}</button>
    {{else}}
      <button {{action "show"}} class="btn btn-success">{{i18n 'movie.add'}}</button>
    {{/if}}
  </div>
</div>

{{#if showing}}
  {{movie-form onSubmit=(action "addMovie")}}
{{/if}}
