<div class="row nice-rectangle bg-info">
  <div class="col-xs-8">
    <h1>{{movie.title}} <small>{{movie.release}}</small></h1>
    <h4><b>Directed by:</b> {{movie.director}}</h4>
    {{#each movie.cast as |cast|}}
      <p>{{cast.name}} as {{cast.role}}</p>
    {{/each}}
  </div>
  <div class="movie-buttons col-xs-4 text-right">
    <button {{action "toggleEdit"}} class="btn {{if editing "btn-warning" "btn-primary"}}">
      {{fa-icon editIcon size="lg"}}
    </button>
    <button {{action "remove" movie}} class="btn btn-danger">
      {{fa-icon "trash" size="lg"}}
    </button>
  </div>
</div>

{{#if editing}}
  {{movie-form movie=movie onSubmit=(action "edit")}}
{{/if}}
