<div class="container">
  <div class="nice-rectangle row bg-primary">
    <div class="col-xs-12 text-center">
      <h1>{{i18n 'title'}}</h1>
    </div>
  </div>
  <div class="nice-rectangle row bg-warning">
    <div class="col-xs-12">

      {{add-movie-form}}

      <!-- movies list -->
      <div class="row">
        <div class="col-xs-12">
          {{#each model as |movie|}}
            {{movie-entry id=movie.id movie=movie}}
          {{else}}
            <div class="col-xs-12 text-center">
              <h3>{{i18n 'movie.empty'}}</h3>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
